.itemList {
  &__count {
    margin: 20px 0;
    p {
      font-weight: 600;
      text-align: center;
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 20px;
    @media (max-width: 1260px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 950px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 635px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    button {
      padding: 20px;
      border-radius: 10px;
      font-size: 18px;
    }
  }
}
